<h4>Payment Processors</h4>
<p class="mb-4 text-sm text-gray-700 dark-text-gray-300">Enable one payment processor at a time. See the <%= link_to "Billing & Payments docs", jumpstart.billing_docs_path, target: :_blank %> for more details.</p>

<div class="space-y-4">
  <div class="form-picker-group toggle">
    <%= check_box_tag "configuration[payment_processors][]", :stripe, @config.stripe?, id: :stripe %>
    <label for="stripe">Stripe</label>
  </div>

  <div class="form-picker-group toggle">
    <%= check_box_tag "configuration[payment_processors][]", :lemon_squeezy, @config.lemon_squeezy?, id: :lemon_squeezy %>
    <label for="lemon_squeezy">Lemon Squeezy</label>
  </div>

  <div class="form-picker-group toggle">
    <%= check_box_tag "configuration[payment_processors][]", :paddle_billing, @config.paddle_billing?, id: :paddle_billing %>
    <label for="paddle_billing">Paddle Billing</label>
  </div>

  <div class="form-picker-group toggle">
    <%= check_box_tag "configuration[payment_processors][]", :paddle_classic, @config.paddle_classic?, id: :paddle_classic %>
    <label for="paddle_classic">Paddle Classic</label>
  </div>

  <div class="form-picker-group toggle">
    <%= check_box_tag "configuration[payment_processors][]", :braintree, @config.braintree?, id: :braintree %>
    <label for="braintree">Braintree</label>
  </div>

  <div class="form-picker-group toggle">
    <%= check_box_tag "configuration[payment_processors][]", :paypal, @config.paypal?, id: :paypal %>
    <div>
      <label for="paypal">PayPal Only</label>
      <p>Uses Braintree behind the scenes</p>
    </div>
  </div>
</div>

<h5 class="mt-8">Plans</h5>
<p class="text-sm">Use the <%= link_to "Plans page", main_app.madmin_plans_path, target: :blank %> in the admin to add plans.</p>

<div class="mt-2 alert" role="alert">
  <p><strong>Don't forget!</strong> You need to be <%= link_to "signed in", main_app.new_user_session_path %> as an admin to view the Plans page in the admin area. <%= link_to "Create an admin user.", "#users", data: { toggle: "pill" } %></p>
</div>
