<% content_for :title, "Cards" %>

<%= h2_with_anchor "Basic Cards" %>

<%= render "jumpstart/docs/snippet" do %>
<div class="card">
  <h3>Card title</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
</div>
<% end %>

<%= h2_with_anchor "Basic Call To Action" %>

<%= render "jumpstart/docs/snippet" do %>
<div class="card">
  <div class="card-cta-basic">
    <div class="lg:flex-1">
      <h3>Card title</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>

    <div class="lg:p-0 pt-4">
      <%= link_to "Button", "", class: "btn btn-primary" %>
    </div>
  </div>
</div>
<% end %>

<%= h2_with_anchor "Card with Image" %>

<%= render "jumpstart/docs/snippet" do %>
<div class="card card-image">
  <%= image_tag "https://placehold.co/600x300" %>

  <div>
    <h3>Card title</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </div>
</div>
<% end %>

<%= h2_with_anchor "Card with Image and Buttons" %>

<%= render "jumpstart/docs/snippet" do %>
<div class="card card-image">
  <%= image_tag "https://placehold.co/600x300" %>

  <div>
    <h3>Card title</h3>
    <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <%= link_to "Button", "#", class: "btn btn-primary" %>
  </div>
</div>
<% end %>
