<% content_for :title, "Deploying" %>
<% content_for :subtitle do %>
  Deploying Jumpstart Pro is easy. We've even configured a staging environment for you.
<% end %>

<%= h2_with_anchor "Environments" %>
<p>Jumpstart Pro is preconfigured with two environments for deploying: staging and production.</p>
<p>Background workers will be configured to run in all environments so you will have the same experience in development as you will in staging and production.</p>
<p>Email providers will only be configured for production by Jumpstart Pro, so you don't accidentally send emails to real users in staging.</p>

<%= h3_with_anchor "Databases" %>
<p>Rails now ships with the Solid gems by default which means deploying requires 4 databases: Your primary database, solid queue, solid cache, and solid cable.</p>
<p>If you've switched to SQLite, you're good to go. Otherwise, make sure to provision databases for each of these and assign the matching environment variables to point to them.</p>
<ul>
  <li>DATABASE_URL</li>
  <li>QUEUE_DATABASE_URL</li>
  <li>CACHE_DATABASE_URL</li>
  <li>CABLE_DATABASE_URL</li>
</ul>

<%= h2_with_anchor "Credentials" %>
<p>You will need to take the contents of <code>config/credentials/staging.key</code> or <code>config/credentials/production.key</code> (depending on what environment you're deploying) and set the <code>RAILS_MASTER_KEY</code> environment variable to the contents of this file. This will allow staging or production to decrypt your credentials for the correct environment.</code> </p>

<%= h2_with_anchor "Deploy to Hatchbox.io" %>
<p><%= link_to "Hatchbox.io", "https://hatchbox.io", target: :blank, class: "link" %> is built by the makers of Jumpstart Pro and GoRails. It's a fantastically simple and cheap option for deploying apps to your own servers.</p>

<%= h2_with_anchor "Deploy to Render.com" %>
<p>Jumpstart Pro comes with a <code>render.yaml</code> file that helps Render pre-configure your application.</p>
<p>Simply copy this URL and paste it into your browser, then change the GitHub URL to point to your private repository.</p>
<div class="not-prose">
  <pre><code>https://dashboard.render.com/blueprint/new?repo=https://github.com/jumpstart-pro/jumpstart-pro-rails</code></pre>
</div>

<%= h2_with_anchor "Deploy to Heroku" %>
<p>Deploying your Jumpstart Pro application to Heroku is simple since Jumpstart Pro includes a Procfile to help automatically configure your Heroku processes.</p>
<div class="mb-4 w-full xl:w-2/3">
  <div class="embed-container">
    <iframe src="https://www.youtube.com/embed/alUh4DX3XAw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>

<%= h4_with_anchor "Deploy using Heroku Deploy Button" %>
<p>Jumpstart Pro comes with an app.json file that helps Heroku pre-configure your application if you use GitHub to host your Jumpstart Pro repo.</p>
<p>Heroku will use your connected GitHub account to access the private repo and find the app.json file to pre-configure your new app. You can read more about the <%= link_to "Heroku Deploy Button for private repos", "https://devcenter.heroku.com/articles/heroku-button#private-github-repos", target: :_blank, class: "link" %> here.</p>
<p>Simply copy this URL and paste it into your browser, then change the GitHub URL to point to your private repository.</p>
<div class="not-prose">
  <pre><code>https://www.heroku.com/deploy?template=https://github.com/username/jumpstart-pro-rails</code></pre>
</div>
<p>You'll also need to configure databases for the Solid gems or Redis as needed.</p>

<%= h4_with_anchor "Deploy using Heroku CLI" %>
<p>First, you'll need to <%= link_to "install the Heroku CLI", "http://toolbelt.heroku.com/", target: :_blank, class: "link" %> and login with <code>heroku login</code></p>
<p>Now you can create a Heroku app by running <code>heroku create myapp</code></p>
<p>We also need to tell Heroku which buildpacks to use:</p>
<div class="not-prose">
  <pre class="lang-bash"><code>heroku buildpacks:set heroku/ruby
heroku buildpacks:add --index 1 heroku/nodejs</code></pre>
</div>

<p>You'll additionally need to setup the <%= link_to "PostgreSQL", "https://elements.heroku.com/addons/heroku-postgresql", target: :_blank, class: "link" %> and <%= link_to "Redis", "https://elements.heroku.com/addons/heroku-redis", target: :_blank, class: "link" %> addons to run your app as needed.</p>
<div class="not-prose">
  <pre class="lang-bash"><code>heroku addons:create heroku-postgresql

# If you're using Solid gems, create databases for them
heroku addons:create heroku-postgresql --as QUEUE_DATABASE
heroku addons:create heroku-postgresql --as CACHE_DATABASE
heroku addons:create heroku-postgresql --as CABLE_DATABASE

# If you're using Redis
heroku addons:create heroku-redis</code></pre>
</div>

<p>Afterwards, you need to add the <code>RAILS_MASTER_KEY</code> environment variable and set it equal to the key inside <code>config/credentials/production.key</code>.</p>
<p>Then you can deploy your code to Heroku and run migrations.</p>
<div class="not-prose">
  <pre class="lang-bash"><code>git push heroku master
heroku run rails db:migrate</code></pre>
</div>

<%= h2_with_anchor "Docker" %>
<p>Rails provides an example Dockerfile for production deployments which is included in Jumpstart Pro.</p>

<%= h2_with_anchor "Kamal" %>
<p>Jumpstart and Rails 8+ also includes <%= link_to "Kamal", "https://kamal-deploy.org/", target: :_blank, class: "link" %> by default. Replace IP addresses in the deploy.yml with that of your application and consult the Kamal documentation for configuring databases, environment variables, etc.</p>

<%= h2_with_anchor "Production Admin Users" %>
<p>To create an admin user in production, you can either generate one using <code>db/seeds.rb</code> or run the following code in the rails console in production.</p>
<div class="not-prose">
  <pre class="lang-ruby"><code>user = User.create!(
  name: "Steve Jobs",
  email: "steve@apple.com",
  password: "password",
  password_confirmation: "password",
  terms_of_service: true
)

Jumpstart.grant_system_admin! user</code></pre>
</div>
