<% content_for :title, "Dashboard" %>

<header class="header">
  <h1>Dashboard</h1>
</header>

<section>
  <div class="metrics">
    <div class="metric">
      <h4>Total Revenue</h4>
      <p><%= number_to_currency @total_revenue %></p>
    </div>

    <div class="metric">
      <h4>Revenue Last 12mo</h4>
      <p><%= number_to_currency @last_12_mos %></p>
    </div>

    <div class="metric">
      <h4>Last Month's Revenue</h4>
      <p><%= number_to_currency @last_month %></p>
    </div>

    <div class="metric">
      <h4>This Month's Revenue To Date</h4>
      <p><%= number_to_currency @this_month %></p>
    </div>
  </div>

  <div class="metrics">
    <div class="metric">
      <h4>Users</h4>
      <p><%= ::User.count %></p>
    </div>

    <div class="metric">
      <h4>Active Subscriptions</h4>
      <p><%= ::Pay::Subscription.active.count %></p>
    </div>
  </div>
</section>
