<nav class="top-nav" data-controller="toggle">
  <section class="logo">
    <%= link_to root_path do %>
      <%= render_svg "logo", styles: "fill-current" %>
      <span class="sr-only"><%= Jumpstart.config.application_name %></span>
    <% end %>
  </section>

  <section class="nav-container hidden lg:flex" data-toggle-target="toggleable">
    <nav><%= render "left_nav" %></nav>
    <nav><%= render "right_nav" %></nav>
  </section>

  <section class="nav-user-controls">
    <button type="button" id="sidebar-open" data-action="click->toggle#toggle touch->toggle#toggle">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
      </svg>
    </button>

    <% if user_signed_in? %>
      <%= render "dev_menu" if Rails.env.development? %>
      <%= render "notifications" %>
      <%= render "user_menu" %>
    <% end %>
  </section>
</nav>
